* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  overscroll-behavior: none;
}
app-root {
  display: block;
  height: 100%;
}
